<h1 style="text-align: center; margin: 2rem 0;">{{(heroe)? 'Editar': 'Nuevo'}} heroe {{(heroe)? heroe.superhero: ''}}
</h1>

<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="40px" fxLayoutAlign="center">

  <form [formGroup]="heroeForm" fxFlex="40" fxFlexOrder="2" fxLayout="column" (ngSubmit)="guardarHeroe()">

    <mat-form-field>
      <mat-label>Super Heroe</mat-label>
      <input type="text" matInput required formControlName="superhero">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Alter Ego</mat-label>
      <input type="text" matInput required formControlName="alter_ego">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primera Aparición</mat-label>
      <input type="text" matInput required formControlName="first_appearance">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input type="text" matInput required formControlName="characters">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select formControlName="publisher" required>
        <mat-option *ngFor="let creador of creadores" [value]="creador">{{creador}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto Url</mat-label>
      <input type="text" matInput formControlName="alt_img">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Guardar</button>
  </form>

  <div fxFlexOrder="1" fxFlex.lt-sm="100" fxFlex.gt-xs="40" fxFlex.md="30" fxFlex.lg="20">
    <img [src]="heroe | imagen" [alt]="(heroe)? heroe.superhero:'imagen heroe'"
      style="max-width: 100%; height: auto; border-radius: 5px;">
  </div>

</div>
